<div id='loginform' class='hide'>
  show form
</div>
<div class="row">
  <div class="6-large columns" id="title-logo">
    <%= link_to (image_tag('seah-hughes-architects-v2.jpg')), root_path %></a>
  </div>
</div>

<div class="6-large-columns intro-text">
  Seah Hughes Architects is a dynamic young architectural practice. We specialise
  in residential projects in Sydney.

  Please don't hesitate to contact us for an obligation free consultation to discuss
  your renovation or new home ideas.
</div>

<!-- Mobile Header -->

<div class="row">
  <div class="twelve columns show-for-small">
  </div>
</div>
<br>

<!-- End Mobile Header -->

<div class="row">
  <div class="small-4.columns">
  </div>
  <div class="row">
    <h6 class="subheader show-for-small">Sort by</h6>
    <div class="small-2.columns">
    </div>
  </div>
</div>