  <nav class="top-bar">
    <ul class="title-area">

    </ul>

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="has-dropdown">
          <li id='contactlink'><%= link_to('Contact', new_inquiry_path, :id => 'navtablog') %></li>
          <li id='contactlink'><%= link_to('Projects', projects_path, :id => 'navtablog') %></li>
          <li class="divider"></li>
      </ul>
<div id='loginform' class='hide'>

</div>
    </section>
  </nav>

